* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  width: 100%;
  height: 100vh;
}

/*header
************************************************/
.header {
  background-color: lightblue;
  position: relative;
}
.header .bgimg {
  width: 100%;
}
.navbar {
  position: absolute;
  top: 5%;
  display: flex;
  justify-content: space-between;
}

.header__movie-img {
  margin: 0 auto;
  position: absolute;
  bottom: 83px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 50px;
}
header__movie-img {
  display: flex;
  justify-content: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.login-btn img {
  width: 50px;
  height: 50px;
}
/*continue-playing
***********************************************/
.continue-playing,
.coming-soon {
  margin: 50px auto;
  width: 85%;
}
.all-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.all-cards > div {
  width: calc(25% - 20px);
}

.curr-link {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.curr-link a {
  text-decoration: none;
  color: black;
}
.movie-card {
  position: relative;
}

.movie-card img {
  width: 100%;
  height: auto;
}

.card-details {
  line-height: 1.4;
  font-size: 0.8rem;
  color: white;
  position: absolute;
  left: 5%;
  bottom: 5%;
}

.card-details button {
  font-size: 0.7rem;
  margin-top: 5px;
  padding: 2px 5px;
  border-radius: 4px;
  border: none;
}
/*coming-now
****************/
.coming-soon {
}
/*pearls
****************/
.pearls {
}
.pearls-container {
  padding: 50px 0;
  width: 80%;
  margin: 0 auto;
}

.circle-container {
  position: relative;
}

.line {
  width: 100%;
  height: 2px;
  background-color: rgb(119, 115, 115);
}

.circle {
  position: absolute;
  top: -2px;
  background-color: rgb(20, 16, 16);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.circle:nth-child(1) {
  left: 15%;
}
.circle:nth-child(2) {
  left: 28%;
}
.circle:nth-child(3) {
  left: 41%;
}
.circle:nth-child(4) {
  left: 54%;
}
.circle:nth-child(5) {
  left: 67%;
}
.circle:nth-child(6) {
  left: 80%;
}
.circle:nth-child(7) {
  left: 93%;
}

/*latest-news
****************/
.latest-news {
}
.latest-news-container {
  width: 80%;
  margin: 0 auto;
}

.latest-news__cards {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.news-card1 {
  min-width: 558px;
  min-width: 250px;
  max-height: auto;
  min-height: auto;
}
.latest-news-card2 {
  border: 2px solid black;
  display: flex;
  gap: 15px;
  align-items: center;
}

.latest-news-card2 img {
  min-width: 85px;
  max-width: 200%;
  min-height: 73px;
}

.latest-news-card2 p {
  font-size: clamp(12px, 1vw, 18px);
}

/*footer
****************/
.footer {
  padding: 50px;
  background-color: rgb(223, 216, 216);
}
.footer-size {
  padding: 10px;
  width: 75%;
  margin: 0 auto;
}

.footer-url-collections {
  display: flex;
  justify-content: space-between;
}

.footer-url a {
  text-decoration: none;
  line-height: 2.8;
  display: block;
}

.social-icon {
  display: flex;
  justify-content: space-between;
}

.copyright-area {
}
